@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Outfit:wght@400;700;900&family=Plus+Jakarta+Sans:wght@400;700;800&family=Syne:wght@700;800&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--color-bg-main: var(--bg-main);
	--color-text-main: var(--text-main);
	--color-text-sub: var(--text-sub);
	--color-accent: var(--accent);
	--font-main: 'Inter', system-ui, sans-serif;
	--font-sub: 'Inter', system-ui, sans-serif;
	--font-stroke-display: 'Lexend Deca', 'Syne', sans-serif;
	--font-stroke-clean: 'Archivo Black', sans-serif;
}

:root {
	--bg-main: #fffdfa;
	--text-main: #291a07;
	--text-sub: #786b5c;
	--accent: #ff0000;
}

/* Change this to target the .dark class specifically */
:root .dark,
:root[class~='dark'] {
	--bg-main: #0f0b06;
	--text-main: #fbf7f2;
	--text-sub: #a89e93;
	--accent: #ff0000;
}

/* Global improvements */
html {
	scroll-behavior: smooth;
	background-color: var(--bg-main);
	color: var(--text-main);
	overflow-x: hidden;
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--font-main);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Selection colors */
::selection {
	background-color: var(--accent);
	color: #ffffff;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background: rgba(255, 0, 0, 1);
	border: 2px solid var(--bg-main);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--accent);
}
