@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--color-bg-main: var(--bg-main);
	--color-text-main: var(--text-main);
	--color-text-sub: var(--text-sub);
	--color-accent: var(--accent);
	--font-main: 'Inter', system-ui, sans-serif; /*sans*/
	--font-sub: 'Inter', system-ui, sans-serif;
}

:root {
	--bg-main: #fffdfa;
	--text-main: #291a07;
	--text-sub: #786b5c;
	--accent: #ea580c; /* Deep Orange */
}

.dark {
	--bg-main: #0f0b06;
	--text-main: #fbf7f2;
	--text-sub: #a89e93;
	--accent: #f97316; /* Safety Orange */
}
